/* .nav {
  background-color: #e3f0ff;
  border-radius: 10px;
  padding: 10px;
}

.nav-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 30px;
  gap: 10px;
  padding: 0;
  width: 200px;
}

.nav-list a,
.nav-settings {
  align-items: center;
  background-color: #789de6;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}

.nav-settings {
  background-color: #3e6aae;
}

.nav-list a:hover,
.nav-settings:hover {
  background-color: #838ad8;
} */

.nav {
  background-color: #e3f0ff;
  border-radius: 10px;
  padding: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 0 30px;
  gap: 10px;
  padding: 0;
  width: 200px;
}

.list a,
.settings {
  align-items: center;
  background-color: #789de6;
  border-radius: 6px;
  color: #fff;
  display: flex;
  justify-content: center;
  padding: 10px;
  text-decoration: none;
}

.settings {
  background-color: #3e6aae;
}

.list a:hover,
.settings:hover {
  background-color: #838ad8;
}