.dialogs {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 5fr;
}

.dialogs-items {
  display: grid;
  gap: 6px;
}

.dialogs-items__dialog {
  display: flex;
  width: 100%;
}

.dialogs-items__link {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}

.dialogs-items__link.active {
  border-color: rgba(255, 218, 107, 0.3);
  color: rgb(255, 219, 112);
}

.dialogs-messages {
  border: 1px solid rgb(56, 56, 56);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
}
